apiVersion: v1
kind: Service
metadata:
  name: vw-config
  labels:
    app: vw-config
    app.kubernetes.io/name: vw-config
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: http
  selector:
    app: vw-config
