apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-vault-config
  labels:
    app.kubernetes.io/name: vw-vault
data:
  vault.hcl: |
    ui = false
    disable_mlock = true

    listener "tcp" {
      address     = "0.0.0.0:{{ .Values.service.apiPort }}"
      tls_disable = true
    }

    storage "raft" {
      path    = "/vault/data"
      node_id = "${VAULT_RAFT_NODE_ID}"

      {{- $replicas := int .Values.replicaCount }}
      {{- range $i := until $replicas }}
      retry_join {
        leader_api_addr = "http://{{ $.Release.Name }}-vault-{{ $i }}.{{ $.Release.Name }}-vault-internal:{{ $.Values.service.apiPort }}"
      }
      {{- end }}
    }

    service_registration "kubernetes" {}

    telemetry {
      prometheus_retention_time = "24h"
      disable_hostname          = true
    }
