{{- if .Values.namespaces.media.defaultDenyEnabled | default true }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: default-deny-all
  namespace: {{ .Values.namespaces.media.name | default "vw-media" }}
  labels:
    app.kubernetes.io/part-of: videowall
spec:
  podSelector: {}
  policyTypes:
    - Ingress
    - Egress
{{- end }}
