apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: default-deny-all
  namespace: vw-observability
  labels:
    app.kubernetes.io/part-of: videowall
spec:
  podSelector: {}
  policyTypes:
    - Ingress
    - Egress
